# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.env
.venv/
venv/
pip-log.txt

# dbt artifacts
dbt_packages/
target/
logs/
dbt_modules/

# Configuración local
config/profiles.yml

# Sistema operativo
.DS_Store
Thumbs.db

# IDEs y editores
.vscode/
.idea/
