dbt-core
dbt-sqlserver
python-dotenv
pandas 
pyodbc
numpy
sqlalchemy
sqlparse
matplotlib
openpyxl
seaborn
scikit-learn
beautifulsoup4
Jinja2 
kettleparser
PyMySQL
pyyaml
mysql-connector-python
cryptography
oracledb
xlsxwriter
tdqm
pywin32